<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%=@user.name%>,</p>
    <p>Your account is now active.</p>
    <p>With an active account you may: a) create and modify events (Charities only), b) attend events (Philanthropists only), and c) follow/unfollow other users.</p>
    <p>Thanks for your patience!</p>
  </body>
</html>