<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%=@user.name%>,</p>
    <p>Welcome to Cherry Ivy! Who knew philanthropy could be so fun, social and simple!</p>
    <p>Keep your email (<%=@user.email%>) and password on file so you can quickly and easily login to <%=link_to('cherryivy.com', root_url)%>!</p>
    <p>We're glad to have you join our community!</p>
    <p>--</br>Obi </br><i>founder & ceo</i></p>
  </body>
</html>