@charset "utf-8";
/* CSS Document */

body {
	background-color: #ecf0f1;
	width: 100%;
	overflow-x:hidden;
	scrollbar-face-color: #a2a2a2;
	scrollbar-highlight-color: #a2a2a2;
	scrollbar-3dlight-color: #a2a2a2;
	scrollbar-darkshadow-color:  #a2a2a2;
	scrollbar-shadow-color:  #a2a2a2;
	scrollbar-arrow-color: #8a8a8a;
	scrollbar-track-color:  #a2a2a2;
}




/**NAVIGATION BAR **/

.menu1 {
	background-color: #fff;
	height: 45px;
	width: 100%;
	margin-top: -8px;
	z-index: 1;	
	margin-left: -8px;
	position: fixed;
}

.page_width1 {
	width: 960px;
	height: auto;
	margin: auto;
}

.page_width1 a {
	text-decoration: none;
}


#nav_logo {
	margin-top: 4px;
	margin-left: -1px;
}


#pages {
	list-style-type: none;
	margin-top: -26px;
	margin-left: 30px;
	width: 220px;
}

.page_name {
	display: inline;
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 13px;
	padding-bottom: 10px;
	color: #2c3e50;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.page_name a {
	text-decoration: none;
}

.page_name:hover {
	background-color: #ecf0f1;
}


#search {
	float: right;
	margin-top: -46px;
	
}

.search-input {
	width: 480px;
	border: 1px solid #ecf0f1;
	outline: none;
	padding: 6px;
	background-color: #ecf0f1;
	font-family: Arial, Helvetica, sans-serif;
	color: #2c3e50;
	font-size: 17px;
}

.search-input:focus {
	border: 1px solid #56b4ef;
	box-shadow: 0px 0px 3px 1px #c8def0;
	background-color: #fff;

}

#nav_button {
	text-decoration: none;
	float: left;
	width: 18px;
	height: 21px;
	cursor: pointer;
	border: 2px solid #fff;
	background-color: #fff;
	margin-top: -35px;
	margin-left: 970px;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding-top: 9px;
	padding-left: 8px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #2c3e50;
}


#nav_button:hover { 
	border: 2px solid #fff;
	box-shadow: 0px 0px 3px 1px #c8def0;
}	


.success {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2ecc71;
	font-size: 20px;
	color: white;
	opacity: 0.8;
	text-align: center;
	margin-top: -6px;
	display:  none;
	position: absolute;
	width: 940px;
}



#nav_button_div {
	float: left;
	width: auto;
	height: auto;
	cursor: pointer;
	background-color: #fff;
	margin-left: 890px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #ecf0f1;
	margin-top: -4px;
	display: none;
	
}

#nav_button_div ul{
	list-style-type:none;
	margin: auto ;
	width: 69px;
}

#nav_button_div ul li{
	padding: 5px 0px 5px 10px;
	display: block;
	font-size: 16px;
	color: #2c3e50;
	text-align: left;
	margin-left: -41px;
	
}

#nav_button_div ul li:hover{
	background-color: #00B0F0;
	color: #fff;
	
}


#s-o {
	border-top: 1px solid #ecf0f1;
	
}


/** END OF NAVIGATION BAR **/






.menu2 {
	width: 100%;
	margin-left: -8px;
	position: absolute;
}





/** beginning of cover photo section **/

#page_width2 {
	width: 960px;
	margin: auto;
	margin-top: 57px;
	height: 180px;
	margin-bottom: 20px;
}

#cover_photo_section {
	width: 960px;
	margin: auto;
	background-color: #fff;
	height: 140px;
}


#name {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #2c3e50;
	min-width: 150px;
	max-width: 380px;
	height: auto;
	float: left;
	margin-left: 5px;
	margin-top: 7px;;
}

#name a {
	text-decoration: none;
	color: #2c3e50;
}

#name a:hover {
	text-decoration: underline;
}

#location {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #2c3e50;
	min-width: 150px;
	max-width: 380px;
	height: auto;
	float: right;
	text-align: right;
	margin-right: 5px;
	margin-top: 7px;
}

#location a {
	text-decoration: none;
	color: #2c3e50;
}

#location a:hover {
	text-decoration: underline;
}

#buttons_left {
	float: left;
	margin-top: 105px;
	position: absolute;
	margin-left: 5px;
	
}


.left_button {
	text-decoration: none;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #fff;
	color: #2c3e50;
	margin-left: -1px;
	margin-right: -1px;
	padding: 6px;
}

.left_button:hover {
	background-color: #ecf0f1;
	border: 1px solid #ecf0f1;		
}



#underline1 {
	background-color: #ecf0f1;
	border: 1px solid #ecf0f1;	
}



#buttons_right {
	float: right;
	margin-top: 105px;
	margin-right: -150px;
}


#follow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	cursor: pointer;
	background-color: #ecf0f1;
	border: 1px solid #ecf0f1;
	color: #2c3e50;
	margin-left: -1px;
	margin-right: -1px;
}

#unfollow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	cursor: pointer;
	background-color: #2c3e50;
	border: 1px solid #2c3e50;
	color: #fff;
	margin-left: -1px;
	margin-right: -1px;
	
}

#profile_pic {
	height: 134px;
	width: 134px;
	border-radius: 70px;
	border: 1px solid #ecf0f1;
	margin: auto;
	margin-top: -138px;
	background-color: #fff;
}

/** end of cover photo section**/










/**beginning of EVENTS section **/

#page_width3 {
	width: 960px;
	height: auto;
	margin: auto;
	margin-bottom: 20px;
}

.about_header {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #fff;
	height: 45px;
	color: #2c3e50;	
}

.about_header ul {
	list-style-type: none;
	padding-top: 15px;
	margin: auto;
	margin-left: -80px;
}

.about_header li {
	display: inline-block;
	text-align: left;
	margin-left: 50px;
}


.about_header ul li a {
	text-decoration: none;
	color: #2c3e50;
}

.about_header ul li a:hover {
	text-decoration: underline;
}





#body {
	font-family: Arial, Helvetica, sans-serif;
	height: auto;
	margin: auto;
	text-align: left;
	font-size: 14px;
	color: #2c3e50;
	text-align: left;
	padding: 10px;
	background-color: #fff;
}











