@charset "utf-8";
/* CSS Document */

body {
	background-color: #ecf0f1;
	width: 100%;
	overflow-x:hidden;
	scrollbar-face-color: #a2a2a2;
	scrollbar-highlight-color: #a2a2a2;
	scrollbar-3dlight-color: #a2a2a2;
	scrollbar-darkshadow-color:  #a2a2a2;
	scrollbar-shadow-color:  #a2a2a2;
	scrollbar-arrow-color: #8a8a8a;
	scrollbar-track-color:  #a2a2a2;
}




/**NAVIGATION BAR **/

.menu1 {
	background-color: #fff;
	height: 45px;
	width: 100%;
	margin-top: -8px;
	z-index: 1;	
	margin-left: -8px;
	position: fixed;
	
}

.page_width1 {
	width: 960px;
	height: auto;
	margin: auto;
}

.page_width1 a {
	text-decoration: none;
}


#nav_logo {
	margin-top: 4px;
	margin-left: -1px;
	float: left;
}


#nav_name {
	display: inline;
	float: left ;
	margin-top: 8px;
	margin-left: 10px;
}


#admin {
	
	display: inline;
	float: right;	
	margin-top: 5px;
}

.admin_button_a {
	width: 88px;
	border: 1px solid #ecf0f1;
	background-color: #ecf0f1;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #2c3e50;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	text-align: center
}

.admin_button_a:active {
	border: 1px solid #fff;
	background-color: #fff;
}



/** END OF NAVIGATION BAR **/






.menu2 {
	width: 100%;
	margin-left: -8px;
	position: absolute;
}




/** beginning of EVENTS section **/

#page_width2 {
	width: 960px;
	margin: auto;
	margin-top: 77px;
	height: auto;
	margin-bottom: -15px;
}



.events_update ul {
	list-style-type: none;
	margin: auto;
	margin-left: -36px;
}


.events_update ul li {
	width: 290px;
	height: auto;
	background-color: #fff;
	margin-bottom: 40px;
	margin-left: -4px;
	padding: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	display: inline-block;
}

.event_pic {
	/**photoshop @100% in word  height 2.3 and width 3.18**/
	margin-left: -8px;
}

.go_button {
	width: 60px;
	height: 60px;
	cursor: pointer;
	border: 1px solid #00B0F0;
	background-color: #00B0F0;
	color: white;
	position: absolute;
	margin-top: -221px;
	margin-left: -8px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 30px;
}

.go_button:active {
	border: 1px solid #2c3e50;
	background-color: #2c3e50;
}

#events_text {
	width: 287px;
	min-height: 110px;
	display: inline-block;
	float: left;
	margin-top: 10px;
	margin-left: -6px;
}

#events_text a {
	color:#2c3e50;
	text-decoration: none;
	font-size: 19px;
}

#events_text a:hover {
	text-decoration: underline;
}

#event_title {
	color:#2c3e50;
	text-decoration: none;
	font-size: 19px;
	font-weight: 100;
}

#event_organization {
	color: #1abc9c;
	font-size: 14px;
	font-weight: 100;
}


#event_organization:hover {
	text-decoration: underline;
}

#event_date {
	color: #3498db;
	font-size: 14px;
	font-weight: 100;
}


#event_date:hover {
	text-decoration: underline;
}

#event_city {
	color: #3498db;
	font-size: 14px;
	font-weight: 100;
}


#event_city:hover {
	text-decoration: underline;
}



/**end of EVENTS section **/












/** beginning of FOOTER section **/

#page_width3 {
	width: 100%;
	background-color: #fff;
}


.footer {
	width: 960px;
	margin: auto;
	height: auto;
	color: #2c3e50;	
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	
}

.footer a {
	color:#3498db;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer ul {
	list-style-type: none;
	margin: auto;
	margin-left: -41px;
	font-family: Arial, Helvetica, sans-serif;
	height: auto;
	color: #2c3e50;	
	background-color: #fff;
}


.footer ul li {
	padding: 5px;
	margin-right: 10px;
	display: inline-block;
	font-size: 16px;
	text-align: left;
}









/**end of FOOTER section **/







